/269_Activities.txt
/368-Activities.txt
/Map.html
/activities copy 2.txt
/activities.txt
/activityIds copy.txt
/activityIds.txt
/keys.txt
/node_modules
/package-lock.json
/package.json
/points.txt
/strava.js
/strava.py